<!DOCTYPE html>
<html>
  <head>
    <title>MyWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <%= link_to 'My Company', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <%= link_to 'ABOUT', page_path('about'), class: "nav-link" %>
            </li>
            <li class="nav-item">
            	<%= link_to 'SERVICES', page_path('services'), class: "nav-link" %>
            </li>
		        <li class="nav-item">
		          <%= link_to 'SOLUTIONS', page_path('solutions'), class: "nav-link" %>
	          </li>
		        <li class="nav-item">
		          <%= link_to 'TECHNOLOGIES', page_path('technologies'), class: "nav-link" %>
		        </li>
		        <li class="nav-item">
		          <%= link_to 'INDUSTRIES', page_path('industry-focus'), class: "nav-link" %>
		        </li>
		       	<li class="nav-item">
		          <%= link_to 'PROCESS', page_path('our-process'), class: "nav-link" %>
		        </li>
		        <li class="nav-item">
		          <%= link_to 'PORTFOLIO', page_path('portfolio'), class: "nav-link" %>
		        </li>
		        <li class="nav-item">
		          <%= link_to 'CONTACT', page_path('contact'), class: "nav-link" %>
		        </li>
          </ul>
        </div>
      </div>
    </nav>

  
    <%= yield %>

  </body>
</html>
